{% extends  "main/header.html"%}

{% block content %}
{% load static %}

<div class="container center ">
  <form id="uploadForm" method="post" enctype="multipart/form-data" action="{% url 'main:upload' folder='home' %}">
    {% csrf_token %}
  
    <div class="upload-container">
      <p>Upload file</p>
      <label for="fileInput" id="uploadButton" class="btn-floating btn-large waves-effect waves-light teal">
          <i class="material-icons">cloud_upload</i>
      </label>
      <input type="file" id="fileInput" name="file" style="display:none" multiple/>
    </div>
  </form>
</div>


<div class="container">
    <div class="section">
      {% for image in images %}
        <a href="{{ image.file.url }}" data-fancybox="gallery" data-caption="{{ image.get_file }}">
          <img src="{{ image.file.url }}" style="max-width: 100px; max-height: 100px;"/>
        </a>
      {% endfor %}    
    </div> 
    

    <table class="highlight">
        <thead>
          <tr>
              <th>Name</th>
              <th>Created at</th>
              <th>Download</th>
          </tr>
        </thead>

        <tbody>
            {% for folder in folders %}
                <tr>
                    <td><i class="material-icons icon">folder</i>&nbsp  {{ folder.name }}</td>
                    <td>{{ data.get_created_at }}</td>
                </tr>
            {% endfor %}
            {% for data in datasets %}
                <tr>
                    <td><i class="material-icons icon">insert_drive_file</i>&nbsp  {{ data.get_file }}</td>
                    <td>{{ data.get_created_at }}</td>
                    <td><a href="{{ data.file.url }}" download="{{data.get_file}}" target="_blank"><i class="material-icons">file_download</i></a>
                  </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

      
</div>

<style>
  .icon {
      vertical-align: middle;
  }
</style>

<script type="text/javascript">
  Fancybox.bind("[data-fancybox]", {

  });
  
  
  document.getElementById('fileInput').addEventListener('change', function() {
    // Automatically submit the form when a file is selected
    document.getElementById('uploadForm').submit();
  });

</script>

{% endblock %}

