{% load static %}


<nav>
  <div class="nav-wrapper white">
    <a href="/" class="brand-logo">
      <img id="logo" class="responsive-img" src="{% static 'imgs/cloud-storage.png'%}" alt="Logo" style="max-height:60px;">
    </a>
    {% comment %} <a href="https://www.flaticon.com/free-icons/storage" title="storage icons">Storage icons created by Hilmy Abiyyu A. - Flaticon</a> {% endcomment %}

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if user.is_authenticated %}
        <!-- <li><a href="/profile/">Profile</a></li> -->
        <li><a href="/user/">Profile</a></li>
        <li><a href="/logout/">Logout</a></li>
      {% else %}
        <li><a href="/login/">Login</a></li>
        <li><a href="/register/">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>